---
import { defaultLocale } from "@/lib/i18n";
---

<!DOCTYPE html>
<html lang={defaultLocale}>
  <head>
    <meta charset="utf-8" />
    <title>щАЙцЛйшпншиА | Astro Two</title>
  </head>
  <body style="font-family: system-ui; padding: 2rem; line-height: 1.8;">
    <h1>цмвш┐ОцЭехИ░ Astro Two ЁЯСЛ</h1>
    <p>шп╖щАЙцЛйшпншиАя╝Ъ</p>

    <ul style="list-style: none; padding-left: 0;">
      <li><a href="/zh/">ш┐ЫхЕеф╕нцЦЗ</a></li>
      <li><a href="/en/">Enter English</a></li>
    </ul>

    <p style="margin-top: 2rem; opacity: 0.7;">
      я╝Иф╕НхЖНца╣цНоц╡ПшзИхЩишпншиАшЗкхКиш╖│ш╜мя╝Й
    </p>
  </body>
</html>
